<p>
  formulario de alteração cadastral
</p>

{{teste}}
<form (submit)="alteraDados($event)">
  <div class="formFroup">
    Telefone
    <input type="text" placeholder="telefone" id="telefone">
    
  </div>
  <div>
    Email
    
    <input type="text" placeholder="email" id="email">
  </div>
  <div>
    Alterar senha?
    
  </div>
  <div>
    Senha Atual
    <input type="text" placeholder="senha antiga" id="senha">
  </div>
  <div>
    Nova Senha
    <input type="text" placeholder="nova senha" id="senhaNova">
  </div>
  <div> 
    Confirme Nova Senha
    <input type="text" placeholder="nova senha" id="senhaNova">
  </div>
  <input type="submit" value="Submit" > 
</form>

<p>
  <img src="../../../../assets/images-delete/core-altera-dados.png" />