  <!-- SOBRE O PROJETO -->
  <div class="container height-full align-itens-center style-project" id="sobre-o-projeto">
      <div class="row my-4">
        <div class="col-lg-5 order-last">
          <img class="img-fluid" src="../../../assets/images/projeto-logo.png" alt="">
          <br>  
        </div>
        <div class="col-lg-7 order-first">
          <h1>Sobre o projeto</h1>
          <p>Desenvolvido a partir da proposta de estudo de caso Internet Banking, o projeto <b>F³IP</b>, consiste na criação de uma solução que permite o acessso de  serviços bancários pela internet.<br> <br>Entre os serviços oferecidos  estão, consulta de saldo e extrato, realização de transferências e alteração cadastral.
            <br>
            <br>
            A solução proposta foi desenvolvida em  Angular  5 com typescript, consumindo APIs em NodeJS e MongoDB como repositório. 
          </p>  
        </div>
      </div>
    </div>
    