/* ---------------------------NAV BAR PAGINA INICIAL---------------------------*/

/* ---------------------------MENU RESPONSIVO--------------------------- */

/* ---------------------------SLIDE DA PAGINA INICIAL--------------------------- */

/* ---------------------------SOBRE O PROJETO--------------------------- */

@media (max-width: 991px) {
    .img-fluid{
      display: flex;
      margin: auto;
      align-items: center;
      max-width: 60%;
    } 
  }
  
  /* ---------------------------CONHEÇA O NOSSO TIME--------------------------- */
  
  /* ---------------------------ESTILO GLOBAL--------------------------- */
  
  .align-itens-center {
    display: flex;
    align-items: center;
  }
  
  .height-full {
    min-height: 100vh;
  }
  
  .style-project {
    padding-top: 50px;
  }
  
  h1{
    color: #CC3A56;
    font-family: "Arial Rounded MT";
    font-weight: bold;
  }
  
  h1{
    font-size: 2.3em;
  }
  
  /* ---------------------------CARDS--------------------------- */
  
  /* ---------------------------ANIMACAO MENU HAMBURGER--------------------------- */
  
  /* ---------------------------FOOTER--------------------------- */
  
  /* ---------------------------MUDANÇA DE ESTILO DO SCROLL--------------------------- */
  ::-webkit-scrollbar {
  
    width: 12px;
    padding: 60 25%;
    opacity: 0.5;
  }
  
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
  
    background-color: #382B2D
    ;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
  }
  
  /* ---------------------------LABEL DAS INPUTS DOS FORMS--------------------------- */
  