
.logo-menu-1 {
	width: 100px;
}

/* CONTA-CORRENT CONTA POUPANCA CHECKBOX */

.botao-acessar-conta {
	background-color: #CC3A56;
	border: none;
	box-shadow: 3px 3px 3px #A3A3A3;
	color: white;
	padding: 5px;
	width: 160px;
	text-align: center;
	font-family: "Arial Rounded MT";
	text-decoration: none;
	outline: none;
	display: inline-block;
	font-size: 14px;
	margin: 26px 2px;
	cursor: pointer;
	border-radius: 20px;
	padding: 5px;
}

.botao-acessar-conta {
	box-shadow: 3px 3px 3px rgb(32, 31, 31);
}

a:link {
	text-decoration: none;
}


/* GRID MENU-BANCO */

html {
	position: relative;
	min-height: 100%;
	font-family: "Arial Rounded MT";
}

body {
  height:calc(100%-100px);
  height:-moz-calc(100%-100px);
  height:-webkit-calc(100%-100px);
}


 

    /* MENU LATERAL     */


/* LOGO */ 


 

/* BOTAO MENU */

/* PÁGINA LOGIN */

.bg {
	background-image: url("../../../assets//images/bg-login.png");
	background-position: center;
	background-repeat: no-repeat;
  background-size: cover;
  background-color: #382B2D;
  color: #AFAFAF;
  
}

h2 {
	color: #AFAFAF;
  font-family: "Arial Rounded MT";
  line-height: 50px;

  
}

 
.fade-anim{
	color: #AFAFAF;
  font-family: "Arial Rounded MT";
  line-height: 50px;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  animation: type 3s steps(60, end); 
  
}

@keyframes type{ 
  from { width: 0; } 
} 


.fade {

  -webkit-animation: fadein 2s ease-in  forwards 2s;
  -moz-animation: fadein 2s ease-in   forwards 2s;
  animation: fadein 2s ease-in   forwards 2s;
  animation-delay: 2s;

}

@keyframes fadein  {
from { opacity: 0; }
to { opacity: 1; }
}


a{
  color: #afafaf;
}
.input-box-login {
	width: 320px;
	cursor: text;
	display: flex;
	flex-flow: column wrap;
	font-family: "Arial Rounded MT";
  margin-top: 15%;
  
}


input.login:focus+label,
input.login:valid+label {
	transform: translateY(-6px);
	font-size: 16px;
	transition: all 0.35s ease;
	color: #c4c4c4;
}

input.login,
label {
	text-align: left;
	color: #ffffff;
	cursor: text;
	width: 100%;
	font-size: 16px;
	letter-spacing: 2px;
}

input.conta+label, input.login+label {
  font-size: 15px;
  
}

input.conta+label {
  margin-top: -12%;
  
  
}


/* ANIMAÇÃO DOA ICONES */



/* Wobble Vertical */


.pagina-login {
  display: flex;
 height: auto;
	/* align-items:flex-start;
     align-items:flex-end;
     flex-direction:column;
     */
}

.pagina-login{
 color: #afafaf;
   
}

.box-3 {
	flex: 1;
	order: 1;
  width: 50%;
  margin:2%;
  margin-left:7%;
  z-index:1;
}

.box-4 {
	flex: 1;
	order: 2;
	color:#f1f1f1;
  display: flex;
   text-align: end;
  width: 50%;
   margin-top:20px;
   margin-left:2%;

 
}

.center-login{
  justify-content: space-around;
      justify-items: center;
      align-items: center;
      text-align: center;
}

.margin-login{
  margin-top:7%;
}

/* MEDIA QUERIES */

@media (max-width: 575.98px) {
  
h2{

  font-size:1.5em;
}

  body.bg{
zoom:80%;
text-align: center;
  }


  .box-3 {
margin: 5%;
    /* background: #CC3A56; */
    text-align: left;
    }
}

 :root {
	--input-padding-x: 0.75rem;
	--input-padding-y: 0.75rem;
}





/* LABEL DAS INPUTS DOS FORMS */

input.textchild-estilo,
label {
	text-align: left;
	color: #888888;
	cursor: text;
	width: 100%;
	font-size: 12px;
	letter-spacing: 2px;
}

input.textchild-estilo {
	order: 2;
	background: none;
	border: 0;
	border-bottom: 1px solid #888888;
	position: relative;
	z-index: 100;
	height: 20px;
	outline: none;
	transition: border-bottom 0.35s;
}

input.textchild-estilo:focus,
input.textchild-estilo:valid {
	border-bottom: 2px solid #888888;
	transition: border-bottom 0.35s;
}

input.textchild-estilo:focus+label,
input.textchild-estilo:valid+label {
	transform: translateY(-4px);
	font-size: 10px;
	transition: all 0.35s ease;
	color: #888888;
}

label {
	line-height: 0;
	transform: translateY(10px);
	transition: all 0.35s ease;
}


/* INPUT DATA */

input::-webkit-datetime-edit {
	color: transparent;
}





/* GRID DOS FORMS DEFINIDOS EM LADO ESQUEROD/DIREITO */
/* Include this to make it visible when input is clicked */

input:focus::-webkit-datetime-edit {
	color: #000;
}


/* FOOTER */




/* MUDANÇA DE ESTILO DO SCROLL */

 ::-webkit-scrollbar {
	width: 12px;
	padding: 60 25%;
	opacity: 0.5;
}

 ::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
}

 ::-webkit-scrollbar-thumb {
	background-color: #382B2D;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}


