   <!-- /.ATENDIMENTO -->
   <section class="container py-5 height-full align-itens-center">
      <div class="row justify-content-center">
        <h1>Atendimento</h1>
        <p class="text-align-center">Tire suas dúvidas, acesse as dicas de segurança para efetuar transações 
          seguras ou  fale conosco para obter mais informações sobre os nossos serviços.
        </p>
        <div class="col-auto mb-3">
          <div class="card" >
            <div class="card-body">
              <h5 class="card-title">Dúvidas Frequentes</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Som  e quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
        </div>
        <div class="col-auto mb-3">
          <div class="card" >
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
        </div>
        <div class="col-auto mb-3">
          <div class="card" >
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
        </div>
      </div>
    </section>