<div class="pagina-menu-inicio">
    <div class="box-3">
     <p> <img src="../../../assets/images/logo.png" class="logo-menu-1 navbar-brand" href="#"><br>
       Olá, <span id="nome">Palloma Adolfi</span></p> 
    </div>

<div class="box-4 col-md-6 col-lg-5 ml-auto d-flex align-items-center mt-4 mt-md-0">
     
<p id="agenciaConta">Agência: 2926 | Conta: 0035318-5 <a href=""  [routerLink]="['login']"> <button type="submit" class="botao-acessar-conta" id="CancelarAcesso" >Sair</button></a>  </p>
      </div>
 </div>



<div id="wrapper">



<div class="container-fluid mt-4">
        <div class="row justify-content-center">
            <div class="col-auto mb-3 ">
                <div class=" card  card-menu  " >
                    <div class="card-body">
                     <img src="../../../assets/images/saldo.png" class="icones wobble-vertical"/>
                    <h4>Saldo disponível  <img src="../../../assets/images/expandir.png" class="indicadores"/></h4>
                        <span id="saldo-menu">Total(R$): <a id="saldo">3.200,00</a></span>
                    </div>
                </div>
            </div>

            <div class="col-auto mb-3">
         <a  [routerLink]="['transferencia']" > <div class="card  card-menu" >
                    <div class="card-body wobble-vertical">
                        <img src="../../../assets/images/transferencia.png" class="icones"/>
                        <h4>Transferências  <img src="../../../assets/images/ir.png" class="indicadores"/> </h4>
                       </div>
                </div></a>  
            </div>
            <div class="col-auto mb-3">
                    <a  [routerLink]="['extrato']" >     <div class="card  card-menu" >
                    <div class="card-body wobble-vertical">
                        <img src="../../../assets/images/extrato.png" class="icones"/>
                      <h4>Extratos <img src="../../../assets/images/ir.png" class="indicadores"/></h4> 
                    
                    </div>
                </div> </a>
            </div>
 
            <div class="col-auto mb-3">
                    <a  [routerLink]="['alterar-cadastro']" > 
              <div class="card  card-menu" >
                    <div class="card-body wobble-vertical"><img src="../../../assets/images/alterar-cadastro.png" class="icones"/>
                        <h4>Alterar dados<br> cadastrais <img src="../../../assets/images/ir.png" class="indicadores"/></h4>
                       </div> 
                </div></a>
            </div>
           


       
    </div>
   

   
       
       <div class="footer-copyright text-center py-3">FIPbank © 2018 Copyright todos os direitos reservados.
       </div>
   

    </div>