    
  
    <!-- CONHEÇA O NOSSO TIME -->
    <section class="py-5 height-full align-itens-center time-section">
        <div class="container position-relative">
        <div class="row row2">
          <h1 class="text-align-center">Conheça o nosso time</h1>
          <div class="card-deck col-12">
            <div class="card card2 mb-4 "  >
              <img class="card-img-top" src="../../../assets/images/f-c.png" alt="Fábio Costa">
              <div class="card-body">
                <h5>Fábio Costa</h5>
                <h6>Descrever Função</h6>
                <div class="redes-sociais">
                  <a href="#"><img class="redes" src="../../../assets/images/github.png" alt="github"></a>
                  <a href="#"><img class="redes" src="../../../assets/images/linkedin.png" alt="linkedin"></a>
                  <a href="#"><img class="redes" src="../../../assets/images/facebook.png" alt="facebook"></a>
                </div>
              </div>  
            </div>
            <div class="card card2 mb-4">
              <img class="card-img-top" src="../../../assets/images/f-m.png" alt="Fábio Morales">
              <div class="card-body">
                <h5>Fábio Morales</h5>
                <h6>Descrever Função</h6>
                <div class="redes-sociais">
                  <a href="#"><img class="redes" src="../../../assets/images/github.png" alt="github"></a>
                  <a href="#"><img class="redes" src="../../../assets/images/linkedin.png" alt="linkedin"></a>
                  <a href="#"><img class="redes" src="../../../assets/images/facebook.png" alt="facebook"></a>
                </div>
              </div>
            </div>
            <div class="card card2 mb-4">
              <img class="card-img-top" src="../../../assets/images/f-s.png" alt="Fábio Silva">
              <div class="card-body">
                <h5>Fábio Silva</h5>
                <h6>Descrever Função</h6>
                <div class="redes-sociais">
                  <a href="#"><img class="redes" src="../../../assets/images/github.png" alt="github"></a>
                  <a href="#"><img class="redes" src="../../../assets/images/linkedin.png" alt="linkedin"></a>
                  <a href="#"><img class="redes" src="../../../assets/images/facebook.png" alt="facebook"></a>
                </div>
              </div>
            </div>
            <div class="card card2 mb-4">
              <img class="card-img-top" src="../../../assets/images/i-i.png" alt="Inglid Ianka">
              <div class="card-body">
                <h5>Inglid Ianka</h5>
                <h6>Descrever Função</h6>
                <div class="redes-sociais">
                  <a href="#"><img class="redes" src="../../../assets/images/github.png" alt="github"></a>
                  <a href="#"><img class="redes" src="../../../assets/images/linkedin.png" alt="linkedin"></a>
                  <a href="#"><img class="redes" src="../../../assets/images/behance.png" alt="Behance"></a>
                </div>
              </div>
            </div>
            <div class="card card2 mb-4">
              <img class="card-img-top" src="../../../assets/images/p-a.png" alt="Palloma Adolfi">
              <div class="card-body">
                <h5>Palloma Adolfi</h5>
                <h6>Descrever Função</h6>
                <div class="redes-sociais">
                  <a href="#"><img class="redes" src="../../../assets/images/github.png" alt="github"></a>
                  <a href="#"><img class="redes" src="../../../assets/images/linkedin.png" alt="linkedin"></a>
                  <a href="#"><img class="redes" src="../../../assets/images/facebook.png" alt="facebook"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </section>