<header>
  <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active" style="background-image: url('img/slide-1.png')">
        <div class="slide1-text1">
          <h5>Tenha uma relação saudavel com o seu banco</h5>
        </div>
        <div class="slide1-text2">
            <h5>Seja <b>F³IP</b>. Transforme-se</h5>
          </div>
        <div class="carousel-caption d-none d-md-block">
          <a href="#sobre-o-projeto" class="scrollSuave"><img src="img/scroll-down.png"></a>
        </div>
      </div>
      <div class="carousel-item" style="background-image: url('img/slide-2.png')">
        <div class="carousel-caption d-none d-md-block">
          <h3>Second Slide</h3>
          <p>This is a description for the second slide.</p>
          <a href="#sobre-o-projeto" class="scrollSuave"><img src="img/scroll-down.png"></a>
        </div>
      </div>
    </div>
  </div>
</header>